# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# Generated Caddy configs
hosts/internal/*.conf
hosts/external/*.conf
hosts/cloudflare/*.conf
hosts/status.json
!hosts/*/.gitkeep

# Certificates
*.crt
*.key
*.pfx
*.pem

# Go
watcher/watcher
