services:
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth
    restart: unless-stopped
    profiles:
      - auth
    environment:
      # TinyAuth config
      - SECRET=${TINYAUTH_SECRET}
      - APP_URL=${TINYAUTH_APP_URL}
      # PocketID OIDC provider
      - PROVIDERS_POCKETID_CLIENT_ID=${OIDC_CLIENT_ID}
      - PROVIDERS_POCKETID_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - PROVIDERS_POCKETID_AUTH_URL=${OIDC_PROVIDER_URL}/authorize
      - PROVIDERS_POCKETID_TOKEN_URL=${OIDC_PROVIDER_URL}/api/oidc/token
      - PROVIDERS_POCKETID_USER_INFO_URL=${OIDC_PROVIDER_URL}/api/oidc/userinfo
      - PROVIDERS_POCKETID_REDIRECT_URL=${TINYAUTH_APP_URL}/api/oauth/callback/pocketid
      - PROVIDERS_POCKETID_SCOPES=openid email profile groups
      - PROVIDERS_POCKETID_NAME=Pocket ID
      - OAUTH_AUTO_REDIRECT=pocketid
      - DISABLE_ANALYTICS=true
      - APP_TITLE=${TINYAUTH_APP_TITLE:-}
      - BACKGROUND_IMAGE=${TINYAUTH_BACKGROUND_IMAGE:-}
      # Caddy auto-discovery
      - CADDY_DOMAIN=${TINYAUTH_DOMAIN}
      - CADDY_TYPE=${TINYAUTH_TYPE:-external}
      - CADDY_PORT=3000
    networks:
      - caddy

networks:
  caddy:
